<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Customer List</title>
  </head>
  <body>
    <h1>Customer List</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
        </tr>
      </thead>
      <tbody>
        <% customers.forEach(function(customer) { %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= customer.name %></td>
            <td><%= customer.email %></td>
            <td><%= customer.address %></td>
            <td><%= customer.city %></td>
            <td><%= customer.state %></td>
            <td><%= customer.zip %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
